wandb/
debugs/
outputs/
output/
output_512_512_False/

samples/
__pycache__/
ossutil_output/
.ossutil_checkpoint/
samples_eval_unified_attention_control/

*.ipynb
*.safetensors
*.ckpt

models/*
!models/Put checkpoints here.txt
!models/StableDiffusion/
models/StableDiffusion/*
!models/StableDiffusion/*.txt
!models/Motion_Module/
!models/Motion_Module/*.txt
!models/DreamBooth_LoRA/
!models/DreamBooth_LoRA/*.txt
!models/MotionLoRA/
!models/MotionLoRA/*.txt

inference_with_freeinit.sh